body {
    background-color: #f8f8f8;
}

.container {
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
}

#accountbar {
    border-bottom: 1px solid #eee;
    margin-top: 10px;
}

#title {

}

